@import "_reset.scss";

// Colors
$white: #fff;
$white-darker: #eee;
$white-darkest: #bbb;
$gray: #989898;
$black: #000;
$primary-color: #76c665;
$primary-color-darker: #65a856;
$primary-color-darkest:#528d45;
$secondary-color: #333333;
$secondary-color-lighter: #464646;
$secondary-color-lightest: #555555;

// Font Sizes
$title-size: 2.3em;
$subtitle-size: 1.3em;
$menu-size: 1.05em;
$price-size: 1.2em;
$button-size: 1.1em;

// Font Families
$main-font: "Montserrat";

// Line Height
$line-height: 1.4em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

body {
    font-family: $main-font, "Helvetica";
    font-size: 18px;
    line-height: $line-height;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $secondary-color;
    color: $white;
    letter-spacing: .1px;

    main {
        padding-top: 86px;
        flex: 1;
    }
}

a {
    text-decoration: none;
    outline: none !important;
    transition: .2s ease-in-out;
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
    border-color: $primary-color;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 .15rem rgba($primary-color, .5) !important;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn {
    border: 0;
    font-size: $button-size;
    padding: .5rem .7rem;
    box-shadow: none;

    &:hover,
    &:focus {
        box-shadow: none !important;
    }
}

.btn-primary {
    color: $white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus,
    &:hover {
        background-color: darken($primary-color, 15%);
    }

    i {
        color: $white;
    }
}

.title {
    font-size: $title-size;
    padding: 0 0 .5rem;
    margin: 0 0 1rem;

    @media (max-width: $lg) {
        font-size: 1.8em;
    }

    span {
        color: $secondary-color;
        margin-left: .5rem;
    }
}

.subtitle {
    font-size: $subtitle-size;
    line-height: $line-height;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height;
}

section {
    padding: 3rem 0;

    @media (max-width: $lg) {
        padding: 1rem 0;
    }
}

#navbar {
    background-color: $primary-color;
    font-size: $menu-size;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    min-height: 56px;

    .navbar-brand {
        font-size: $menu-size;
        display: flex;
        align-items: center;

        .name {
            margin-right: .75rem;
        }

        i {
            &.fa-check-circle {
                color: #2cdb00;
            }

            &.fa-times-circle {
                color: #ff2a34;
            }
        }

        .logo {
            width: 60px;
            margin-right: 1rem;
        }
    }

    a {
        color: $white;
    }

    .navbar-toggler {
        border: none;
        padding: 0;
        position: relative;
        box-shadow: none;
        height: 40px;
        width: 20px;
        margin-left: auto;

        span {
            position: absolute;
            content: "";
            top: calc(50% - 1px);
            right: 0;
            width: 20px;
            height: 2px;
            background-color: $white;
            transition: .2s ease-in-out;

            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                transition: .2s ease-in-out;
            }

            &::before {
                top: 7px;
            }

            &::after {
                bottom: 7px;
            }
        }

        &:not(.collapsed) span {
            transform: rotate(45deg);

            &::before {
                top: 0px;
                transform: rotate(90deg);
            }

            &::after {
                bottom: 0px;
            }
        }
    }

    .navbar-nav {
        &.right {
            margin-left: auto;
        }

        i {
            font-size: 1.3em;
        }
    }

    .nav-link {
        &.with-icon {
            padding: 0 1rem;

            @media (max-width: $lg) {
                padding: .2rem 0 .2rem .25rem;
            }
        }
    }
}

.form-container {
    max-width: 800px;
    width: 100%;
}

#reset-password,
#verify-nick,
#forgot-password,
#login,
#register {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-floating {
        margin-bottom: .5rem;

        label {
            color: $black;
        }
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .links {
        @media (max-width: $sm) {
            margin-top: .5rem;
        }
    }

    .code {
        margin-bottom: .5rem;
    }

    a {
        color: $primary-color;
    }

    span {
        margin: 0 .5rem;
    }

    .invalid-feedback {
        margin: .45rem 0 0 2px;
    }

    .alert {
        margin-top: .5rem;
    }
}

#questions {
    margin-top: 5rem;
    width: 100%;

    @media (max-width: $lg) {
        margin-top: 3rem;
    }

    .flex-questions {
        display: flex;

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }

    .question {
        background-color: $secondary-color-lighter;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        transition: .2s ease-in-out;

        &:hover {
            background-color: $secondary-color-lightest;
        }

        i {
            color: $primary-color;
            font-size: 1.4em;
            margin-left: 1rem;
            transition: .2s ease-in-out;
        }

        .btn {
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            width: 100%;
            padding: 0;
            font-weight: 500;

            &:not(.collapsed) {
                i {
                    transform: rotate(-180deg);
                }
            }
        }

        .card {
            background-color: transparent;
            border: 0;
            padding: 1rem 0 0;
        }
    }

    .column {
        flex: 1;

        &:nth-child(2) {
            margin-left: 2rem;

            @media (max-width: $lg) {
                margin: 0;
            }
        }
    }

    .contact {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            margin-left: .75rem;
        }
    }
}

#front-page {
    .title {
        text-align: center;
    }
}

#contact-modal {
    .modal-content {
        background-color: $secondary-color;
    }

    .modal-header {
        border: 0;
        padding-bottom: 0;

        .modal-title {
            font-size: $subtitle-size;
        }

        .btn {
            padding: 0;
            display: flex;
            align-items: center;

            &:hover {
                i {
                    color: $white-darker;
                }
            }
        }

        i {
            transition: .2s ease-in-out;
            color: $white;
            font-size: 1.3em;
        }
    }

    .modal-body {
        .btn {
            margin-left: auto;
        }

        textarea {
            min-height: 150px;
        }
    }

    .form-floating {
        margin-bottom: .5rem;
    }

    label {
        color: $black;
    }
}

#not-found {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#packages {
    .grid-packages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (max-width: $xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $md) {
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .package {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secondary-color-lighter;
        padding: 2rem 0;

        .subtitle {
            margin-bottom: 2rem;
            padding: 0 1.5rem;
            text-align: center;
        }

        .desc {
            text-align: center;
            padding: 1.5rem 1.5rem 0;
        }

        .price {
            background-color: $primary-color-darkest;
            width: calc(100% + .6rem);
            padding: 1.5rem 0;
            text-align: center;
            position: relative;
            font-size: 2em;
            z-index: 10;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .06);
        }

        .btn {
            border-radius: 0;
            padding: .5rem 1.5rem;
            position: relative;
            top: -0.25rem;
            transition: .2s ease-in-out;

            &:focus,
            &:hover {
                background-color: $primary-color;
                top: 0;
            }
        }
    }
}

#footer {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .1), 0 -1px 2px 0 rgba(0, 0, 0, .06);
    background-color: $primary-color-darker;

    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 4rem;

        @media (max-width: $lg) {
            grid-template-columns: repeat(2, auto);
            gap: 2rem;
        }

        @media (max-width: $sm) {
            grid-template-columns: repeat(1, auto);
            place-items: center;
        }
    }

    .logo {
        width: 250px;
    }

    .flex-group {
        display: flex;
        flex-direction: column;

        @media (max-width: $lg) {
            order: 1;
        }

        .social {
            margin: 1rem 0 0 .75rem;
            display: flex;

            @media (max-width: $sm) {
                margin: 1rem 0 0;
            }

            .link {
                margin-right: 1rem;
            }

            i {
                color: $white;
                font-size: 1.5em;
            }
        }
    }

    .grid-item {
        @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-title {
            font-weight: 500;
            font-size: $subtitle-size;
            margin-bottom: 1rem;
        }

        .list-item {
            margin-bottom: .5rem;

            @media (max-width: $sm) {
                text-align: center;
            }
        }
    }

    a {
        color: $white;

        &:hover {
            color: $white-darker;
        }
    }

    .copyright {
        background-color: $primary-color;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .06);
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}