@import "_reset.scss";

// Colors
$white: #fff;
$white-darker: #eee;
$white-darkest: #bbb;
$gray: #989898;
$black: #000;
$primary-color: #76c665;
$primary-color-darker: #65a856;
$primary-color-darkest:#528d45;
$secondary-color: #333333;
$secondary-color-lighter: #464646;
$secondary-color-darker: #272727;
$secondary-color-lightest: #555555;
$orange: #ff8000;
$red: #dc3545;

// Font Sizes
$title-size: 2.3em;
$subtitle-size: 1.3em;
$menu-size: 1.05em;
$price-size: 1.2em;
$button-size: 1.1em;

// Font Families
$main-font: "Montserrat";

// Line Height
$line-height: 1.4em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

body {
    font-family: $main-font, "Helvetica";
    font-size: 18px;
    line-height: $line-height;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $secondary-color;
    color: $white;
    letter-spacing: .1px;

    main {
        padding-top: 86px;
        flex: 1;
    }
}

a {
    text-decoration: none;
    outline: none !important;
    transition: .2s ease-in-out;
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
    border-color: $primary-color;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 .15rem rgba($primary-color, .5) !important;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn {
    border: 0;
    font-size: $button-size;
    padding: .5rem 1rem;
    box-shadow: none;

    &:hover,
    &:focus {
        box-shadow: none !important;
    }
}

.btn-primary {
    color: $white;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus,
    &:hover {
        background-color: darken($primary-color, 15%);
    }

    i {
        color: $white;
    }
}

.title {
    font-size: $title-size;
    padding: 0 0 .5rem;
    margin: 0 0 1rem;

    @media (max-width: $lg) {
        font-size: 1.7em;
    }

    span {
        color: $secondary-color;
        margin-left: .5rem;
    }
}

.subtitle {
    font-size: $subtitle-size;
    line-height: $line-height;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height;
}

section {
    padding: 3rem 0;

    @media (max-width: $lg) {
        padding: 1.5rem 0;
    }
}

#navbar {
    background-color: $primary-color;
    font-size: $menu-size;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    min-height: 56px;

    .navbar-brand {
        font-size: $menu-size;
        display: flex;
        align-items: center;

        .name {
            margin-right: .75rem;
        }

        i {
            &.fa-check-circle {
                color: #198754;
            }

            &.fa-times-circle {
                color: #ff2a34;
            }
        }

        .icon {
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                background-color: $white;
                z-index: -1;
                content: "";
                left: 1px;
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
        }

        .logo {
            width: 60px;
            margin-right: 1rem;
        }
    }

    a {
        color: $white;
    }

    .navbar-toggler {
        border: none;
        padding: 0;
        position: relative;
        box-shadow: none;
        height: 40px;
        width: 20px;
        margin-left: auto;

        span {
            position: absolute;
            content: "";
            top: calc(50% - 1px);
            right: 0;
            width: 20px;
            height: 2px;
            background-color: $white;
            transition: .2s ease-in-out;

            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                transition: .2s ease-in-out;
            }

            &::before {
                top: 7px;
            }

            &::after {
                bottom: 7px;
            }
        }

        &:not(.collapsed) span {
            transform: rotate(45deg);

            &::before {
                top: 0px;
                transform: rotate(90deg);
            }

            &::after {
                bottom: 0px;
            }
        }
    }

    .navbar-nav {
        @media (max-width: $lg) {
            margin-top: 1rem;
        }

        &.right {
            margin-left: auto;
        }

        i {
            font-size: 1.3em;
        }
    }

    .nav-link,
    .nav-item {
        display: flex;
        align-items: center;
    }

    .nav-link {
        &.with-icon {
            padding: 0 1rem;

            @media (max-width: $lg) {
                padding: .2rem 0 .2rem .25rem;
            }

            i {
                margin-left: .5rem;
            }
        }
    }
}

.form-container {
    max-width: 800px;
    width: 100%;
}

#add-nick,
#reset-password,
#verify-nick,
#forgot-password,
#login,
#register {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc {
        margin-bottom: .75rem;
    }

    .form-floating {
        margin-bottom: .75rem;

        label {
            color: $black;
        }
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .links {
        @media (max-width: $sm) {
            margin-top: .5rem;
        }
    }

    .code {
        margin-bottom: .75rem;
    }

    a {
        color: $primary-color;
    }

    span {
        margin: 0 .5rem;
    }

    .invalid-feedback {
        display: block;
        margin: .45rem 0 0 2px;
    }

    .alert {
        margin: .75rem 0 0;
    }

    .change-nick {
        i {
            margin-left: .5rem;
            font-size: 1.2em;
        }
    }
}

#package-show {
    .header {
        display: flex;
        justify-content: space-between;

        @media (max-width: $lg) {
            align-items: center;
            flex-direction: column-reverse;
        }

        .title {
            margin-bottom: 0;

            @media (max-width: $lg) {
                text-align: center;
            }
        }

        .desc {
            max-width: 700px;
        }

        .price {
            margin-top: 1.5rem;
            font-size: 1.8em;

            @media (max-width: $md) {
                font-size: 1.5em;
            }
        }

        .btn {
            margin: 1.5rem 2rem 0 0;
            font-size: 2em;

            @media (max-width: $md) {
                font-size: 1.5em;
                margin: 1.5rem 1.5rem 0 0;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media (max-width: $lg) {
                align-items: center;
            }
        }

        .image {
            width: 300px;
            height: 300px;
            margin-left: 3rem;

            @media (max-width: $lg) {
                width: 125px;
                height: 125px;
                margin: 0 0 1rem;
            }
        }
    }

    .flex-price {
        display: flex;
        align-items: center;

        @media (max-width: $lg) {
            justify-content: center;
            width: 100%;
        }
    }

    .list-group {
        background-color: $secondary-color-lighter;
        padding-top: 1.5rem;
        border-radius: .5rem;

        .subtitle {
            background-color: $orange;
            text-align: center;
            padding: 1rem;
        }
    }

    .grid-list {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @media (max-width: $xl) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
        }
    }

    .footer-desc {
        margin-top: 2rem;
    }

    .plus-list {
        padding: 1rem 1.5rem;

        li {
            display: flex;
            margin-bottom: 1rem;

            i {
                color: $orange;
                font-size: 1.1em;
                margin: .2rem 1rem 0 0;
            }
        }
    }
}

#editor,
.ql-toolbar {
    background-color: $white;
    color: $black;
    font-family: $main-font;
}

#editor {
    border-radius: 0 0 .25rem .25rem;
    margin-bottom: .75rem;
    font-size: 1em;

    .ql-editor {
        min-height: 350px;
    }
}

.ql-toolbar {
    border-radius: .25rem .25rem 0 0;
}

#admin-dashboard {
    .grid-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @media (max-width: $lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .item {
        padding: 1rem;
        background-color: $secondary-color-lighter;
        transition: .2s ease-in-out;

        &:hover {
            background-color: $secondary-color-lightest;
        }

        .subtitle {
            text-align: center;
        }

        .desc {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

.breadcrumb {
    .breadcrumb-item {
        color: $white;

        &::before {
            color: $white;
        }
    }

    a,
    i {
        color: $primary-color;
    }

    i {
        font-size: 1.15em;
    }
}

#admin-package {
    .flex-group {
        display: flex;

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }

    .list-users {
        margin: 0 !important;

        .alert {
            margin-bottom: 1rem;
        }
    }

    .grid-users {
        display: grid;
        gap: 0 .25rem;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: $lg) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .invalid-feedback {
        margin: -0.5rem 0 .5rem;
        display: block;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    .alert {
        margin: .75rem 0 0;
    }

    .form-control-color,
    input[type=file] {
        margin-bottom: .75rem;
    }

    .form-floating {
        margin-bottom: .75rem;
        display: flex;
        align-items: center;

        label {
            color: $black;
        }

        .currency {
            margin-left: 1rem;
            font-size: 1.5em;
            color: $white-darker;
        }
    }

    .form-check {
        margin: -0.25rem 0 .75rem;
        display: flex;
        align-items: center;

        label {
            margin: .3rem 0 0 .75rem;
        }

        input {
            &:checked {
                background-color: $primary-color;
                border-color: $primary-color-darker;
            }
        }
    }

    .form-group,
    .list {
        flex: 1;
    }

    .list {
        margin-left: 3rem;

        @media (max-width: $lg) {
            margin: 3rem 0 0;
        }
    }

    textarea {
        min-height: 250px;
    }

    .textarea-floating {
        position: relative;

        textarea {
            padding-top: 2.1rem;
        }

        &::before {
            border-radius: .25rem .25rem 0 0;
            background-color: $white;
            content: "";
            top: 0;
            left: 1px;
            position: absolute;
            width: calc(100% - 2px);
            height: 2.1rem;
        }
    }

    .grid-item {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
        padding: .5rem 1rem;
        background-color: $secondary-color-lighter;

        @media (max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        .btn {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-box {
            display: flex;
            margin-left: auto;

            @media (max-width: $sm) {
                margin: .5rem 0 0;
            }
        }

        .btn-warning {
            margin: 0 .5rem 0 0;
            color: $white;

            &:hover {
                background-color: #dfa700;
            }
        }
    }
}

#questions {
    width: 100%;
    background-color: $secondary-color-darker;

    @media (max-width: $lg) {
        margin-top: 3rem;
    }

    .flex-questions {
        display: flex;

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }

    .question {
        background-color: $secondary-color-lighter;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        transition: .2s ease-in-out;

        &:hover {
            background-color: $secondary-color-lightest;
        }

        i {
            color: $primary-color;
            font-size: 1.4em;
            margin-left: 1rem;
            transition: .2s ease-in-out;
        }

        .btn {
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            width: 100%;
            padding: 0;
            font-weight: 500;

            &:not(.collapsed) {
                i {
                    transform: rotate(-180deg);
                }
            }
        }

        .card {
            background-color: transparent;
            border: 0;
            padding: 1rem 0 0;
        }
    }

    .column {
        flex: 1;

        &:nth-child(2) {
            margin-left: 2rem;

            @media (max-width: $lg) {
                margin: 0;
            }
        }
    }

    .contact {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            margin-left: .75rem;
        }
    }
}

#banner {
    margin: 1rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.thanks {
        margin: 5rem 0;

        .title {
            padding: 0;
            margin: 0;
        }
    }

    .title {
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 500;

        @media (max-width: $lg) {
            font-size: 2em;
        }
    }

    .desc {
        text-align: center;
        max-width: 800px;
        font-size: 1.2em;
        line-height: 1.5em;
        color: $white;

        @media (max-width: $lg) {
            font-size: 1em;
        }
    }
}

#front-page {
    .title {
        text-align: center;
    }
}

.admin-edit-form {
    .container {
        display: flex;
        justify-content: center;
    }

    .invalid-feedback {
        margin: -0.5rem 0 .5rem;
        display: block;
    }

    .alert {
        margin: .75rem 0 0;
    }

    textarea {
        min-height: 250px;
    }

    .textarea-floating {
        position: relative;

        textarea {
            padding-top: 2.1rem !important;
        }

        &::before {
            border-radius: .25rem .25rem 0 0;
            background-color: $white;
            content: "";
            top: 0;
            left: 1px;
            position: absolute;
            width: calc(100% - 2px);
            height: 2.1rem;
        }
    }

    .form-control-color,
    input[type=file] {
        margin-bottom: .75rem;
    }

    .file-group {
        display: flex;
        align-items: center;

        .file-input {
            flex: 1;
        }

        .image {
            width: 75px;
            height: 75px;
            margin-left: 2rem;
        }
    }

    .form-floating {
        margin-bottom: .75rem;
        display: flex;
        align-items: center;

        label {
            color: $black;
        }

        .currency {
            margin-left: 1rem;
            font-size: 1.5em;
            color: $white-darker;
        }
    }

    .form-check {
        margin: -0.25rem 0 .75rem;
        display: flex;
        align-items: center;

        label {
            margin: .3rem 0 0 .75rem;
        }

        input {
            &:checked {
                background-color: $primary-color;
                border-color: $primary-color-darker;
            }
        }
    }

    .btn-box {
        display: flex;
    }

    .btn {
        padding: 0;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-success {
        margin-right: .75rem;
    }
}

#contact-modal {
    .modal-content {
        background-color: $secondary-color;
    }

    .modal-header {
        border: 0;
        padding-bottom: 0;

        .modal-title {
            font-size: $subtitle-size;
        }

        .btn {
            padding: 0;
            display: flex;
            align-items: center;

            &:hover {
                i {
                    color: $white-darker;
                }
            }
        }

        i {
            transition: .2s ease-in-out;
            color: $white;
            font-size: 1.3em;
        }
    }

    .modal-body {
        .btn {
            margin-left: auto;
        }

        textarea {
            min-height: 150px;
        }
    }

    .form-floating {
        margin-bottom: .5rem;
    }

    label {
        color: $black;
    }
}

#not-found {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#packages {
    .grid-packages {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5.5rem 2rem;

        @media (max-width: $xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $md) {
            gap: 4rem;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .package {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $secondary-color-lighter;
        padding: 4.5rem 0 2rem;
        position: relative;

        .block {
            width: 100px;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        .subtitle {
            margin-bottom: 2rem;
            padding: 0 1.5rem;
            text-align: center;
            font-weight: 500;
        }

        .desc {
            padding: 1rem 1.5rem 0;
        }

        .price {
            background-color: $orange;
            width: calc(100% + .6rem);
            padding: 1.5rem 0;
            text-align: center;
            position: relative;
            font-size: 2em;
            z-index: 10;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .06);
        }

        .btn {
            border-radius: 0;
            padding: .5rem 1.5rem;
            transition: .2s ease-in-out;
            margin-top: 1rem;
        }
    }
}

#footer {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .1), 0 -1px 2px 0 rgba(0, 0, 0, .06);
    background-color: $black;
    border-top: 1px solid $primary-color;

    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media (max-width: $lg) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 4rem;

        @media (max-width: $lg) {
            grid-template-columns: repeat(2, auto);
            gap: 2rem;
        }

        @media (max-width: $sm) {
            grid-template-columns: repeat(1, auto);
            place-items: center;
        }
    }

    .logo {
        width: 210px;
    }

    .flex-group {
        display: flex;
        flex-direction: column;

        @media (max-width: $lg) {
            order: 1;
        }

        .social {
            margin: 1rem 0 0 .75rem;
            display: flex;

            @media (max-width: $sm) {
                margin: 1rem 0 0;
            }

            i {
                transition: .2s ease-in-out;
                color: $white;
                font-size: 1.5em;
            }

            .link {
                margin-right: 1.2rem;

                &:hover {
                    i {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .grid-item {
        @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-title {
            font-weight: 500;
            font-size: $subtitle-size;
            margin-bottom: 1rem;
        }

        .list-item {
            margin-bottom: .5rem;

            i {
                font-size: 1.1em;
                margin-right: .75rem;
            }

            @media (max-width: $sm) {
                text-align: center;
            }
        }
    }

    a {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    .logo-container {
        background-color: $primary-color;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-grid {
        padding: .75rem;
        display: grid;
        grid-template-columns: repeat(8, 100px);
        place-items: center;
        gap: 1rem;

        @media (max-width: $lg) {
            grid-template-columns: repeat(4, 100px);
        }

        @media (max-width: $sm) {
            grid-template-columns: repeat(2, 120px);
        }

        .logo {
            height: 40px;
            width: 120px;
        }
    }

    .copyright {
        border-top: 1px solid $primary-color;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .06);
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

.ql-editor,
article {
    .subtitle {
        position: relative;
        padding-bottom: .5rem;

        &::after {
            position: absolute;
            content: "";
            background-color: $primary-color;
            bottom: -1px;
            left: 0;
            height: 2px;
            width: 60px;
        }
    }

    h1 {
        @extend .title;
        padding: 0 !important;
        margin: 0 !important;
    }

    h2 {
        font-weight: 500;
        font-size: $subtitle-size;
        margin-bottom: .5rem;
    }

    h3 {
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    strong {
        font-weight: 500;
    }

    em {
        font-style: italic;
    }

    ul,
    ol {
        margin-left: 1.5rem;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    .ql-indent-1 {
        margin-left: 1.5rem;
    }

    .ql-indent-2 {
        margin-left: 2.5rem;
    }

    a {
        color: $primary-color;

        &:hover {
            color: $primary-color-darker !important;
        }
    }
}

#order-show {
    .flex-group {
        display: flex;

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }

    .desc {
        margin-bottom: .75rem;

        a {
            color: $primary-color;
        }
    }

    .form-check {
        margin-bottom: .75rem;

        label {
            color: $white;
            position: relative;
            top: .1rem;
        }

        input:checked {
            background-color: $primary-color;
            border-color: $primary-color;
        }

        a {
            color: $primary-color;
        }
    }

    .invalid-feedback {
        display: flex;
        margin: -0.5rem 0 .35rem;
    }

    .alert {
        margin-top: .75rem;
    }

    #password-confirm {
        margin-bottom: 2rem;
    }

    .order-info,
    .order-form {
        flex: 1;
    }

    .order-form {
        margin-left: 3rem;

        @media (max-width: $lg) {
            margin: 3rem 0 0;
        }
    }

    .info-list {
        li {
            font-size: 1.1em;
            font-weight: 500;
            margin-bottom: .5rem;
        }
    }

    label {
        color: $black;

        span {
            color: $red;
        }
    }

    textarea {
        min-height: 120px;
        margin: 2rem 0 0;
    }

    .form-floating {
        margin-bottom: .75rem;
    }
}